body{
    height: 100vh !important;
}


.price:after {
    content: "đ" !important;
    text-decoration: underline !important;
    margin-left: .4rem !important;
}


.order-box{
    width: 120rem;
    max-width: 100%;
    background-color: #fff;
    border-radius: .4rem;
    margin: 2rem auto;
    margin-bottom: 3.2rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.order-box .f-opt{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #e2e9ef;
}

.order-box .f-opt .check-f{
    color: red;
    margin-left: auto !important;   
    font-size: 1.4rem;
    margin: auto 0;
}

    .order-box .f-opt select[name=type],
    .order-box .f-opt select[name=sp],
    .order-box .f-opt select[name=page] {
        width: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        padding: .4rem .8rem;
        border-bottom: .2rem solid #333;
        color: #333;
        font-size: 1.6rem;
        background-color: transparent;
    }


    .order-box .f-opt .type-opt-or,
    .order-box .f-opt .sp-opt-or {
        position: relative;
    }


/*        .order-box .f-opt .type-opt-or:hover:after,
        .order-box .f-opt .sp-opt-or:hover:after,
        .order-box .f-opt .type-opt-or:active:after,
        .order-box .f-opt .sp-opt-or:active:after {
            display: unset !important;
        }
*/
        .order-box .f-opt .type-opt-or:after {
            content: 'Lọc';
            font-size: 1.4rem;
            color: #fff;
            background-color: #333;
            padding: .4rem .8rem;
            position: absolute;
            top: -110%;
            left: 0;
        }

        .order-box .f-opt .sp-opt-or:after {
            content: 'Sắp xếp';
            font-size: 1.4rem;
            color: #fff;
            background-color: #333;
            padding: .4rem .8rem;
            position: absolute;
            top: -110%;
            left: 0;
        }

        .order-box .f-opt .sp-opt-or {
            margin-left: 2rem;
        }

        .order-box .page-g {
            justify-content: right;
        }

.order-box .page-g select{
    color: rgb(16, 57, 162) !important;
}

.order-box .tab{
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 2rem;
}

.order-box .tab::-webkit-scrollbar {
    width: .6rem;
    border-radius: 5rem;
    margin-left: .4rem;
}


.order-box .tab::-webkit-scrollbar-thumb {
        background-color: #aabcd8;
        border-radius: 5rem;
    }

    .order-box .tab table {
        width: 100%;
        border-collapse: collapse   ;
    }

    .order-box .tab thead{
        position: sticky;
        top: 0;
        background-color: #e2e9ef;
        z-index: 99999;
    }


    .order-box .tab tr{
        position: relative;
        border-bottom: .2rem solid #e2e9ef;
    }

    @keyframes m-l-op-t {
        0%{
            right: -12rem;
        }
        100%{
            right: 0;
        }
    }

    .order-box .tab tr:hover > .opt-cl{
        animation: m-l-op-t .4s ease-in-out forwards;
    }
    
    .order-box .tab .opt-cl{
        position: absolute;
        right: -10rem;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .order-box .tab .opt-cl a{
        background-color: #45ba64;
        padding: .8rem 1.6rem;
        font-size: 1.6rem;
        color: #fff !important;
    }


        .order-box .tab .opt-cl a:hover {
            background-color: #21a10e;
        }

        .order-box .tab th,
        .order-box .tab td:not([class="opt-cl"]) {
            text-align: left;
            font-size: 1.4rem;
            color: #333;
            padding: 2rem 1rem;
        }
    
    .order-box .tab th{
        font-weight: 500;
    }
