@{
    ViewBag.title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.At_Sign = "@";
}

@section Styles{

    <link rel="stylesheet" href="~/Content/home/css/card.css" />
    <link rel="stylesheet" href="~/Content/home/css/page.css" />
    <link rel="stylesheet" href="~/Content/home/css/product.css" />
    <link rel="stylesheet" href="~/Content/home/css/home.css?v=12312" />
}

@section Scripts{
    <script async defer src="~/Content/home/js/card.js"></script>
    <script async defer src="~/Content/home/js/lazy-loading.js"></script>
    <script async defer src="~/Content/home/js/mod-item.js"></script>

}


<section class="sect-2 same-2-3">
    <div class="container">
        <div class="box">
            <div class="ct">
                <h1>TẶNG GÓI SƠN HOÀN THIỆN TRỊ GIÁ 15TR</h1>
                <a href="#">xem chi tiết</a>
            </div>
            <div class="pic">
                <img src="~/Content/img/sys/cua-hang-linh-kien-dien-tu-tphcm-12.jpg"
                     alt="" />
            </div>
        </div>
        <div class="box">
            <div class="ct">
                <h1>TRẢ GÓP LÃI SUẤT 0%</h1>
                <a href="#">xem chi tiết</a>
            </div>
            <div class="pic">
                <img src="~/Content/img/sys/cua-hang-linh-kien-dien-tu-tphcm-2.jpg"
                     alt="" />
            </div>
        </div>
    </div>
</section>

<section class="sect-3 same-2-3">
    <div class="container">
        <div class="box">
            <div class="ct">
                <h1>LINH KIỆN ĐIỆN TỬ</h1>
                <p>
                    Mặt hàng linh kiện điện tử vô cùng đa dạng, phong phú với nhiều loại khác nhau
                </p>
                <a href="#">xem thêm</a>
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="~/Content/img/sys/Cửa-Hàng-Link-Kiện-Điện-Tử-Tphcm5-min.jpg"
                     alt="" />
            </div>
        </div>
    </div>
</section>

<section class="sect-4">
    <div class="container">
        <div class="box-ct">
            <div class="ct">
                <p>Điện áp và dòng điện</p>
                <p>
                    Sử dụng điện trở để điều khiển điện áp và dòng điện trong mạch điện bằng cách sử dụng định luật Ohm.
                </p>
                <a href="#">
                    MẪU THIẾT KẾ &nbsp;
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
            </div>
        </div>
        <div class="box-ct">
            <div class="ct">
                <p>Tụ điện</p>
                <p>
                    Tụ điện thường được sử dụng để tạo thời gian trễ trong mạch điện.
                </p>
                <a href="#">
                    KHÁM PHÁ &nbsp;
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
            </div>
        </div>
        <div class="box-ct">
            <div class="ct">
                <p>Transistor</p>
                <p>
                    Transistor là công tắc điều khiển bằng tín hiệu điện.
                    Nếu đặt một hiệu điện thế khoảng 0,7 vôn giữa cực nền (base) và cực phát (emitter), tức là bạn bật nó lên.
                </p>
                <a href="#">
                    MẪU MAINBOARD &nbsp;
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
            </div>
        </div>
        <div class="box-ct">
            <div class="ct">
                <p>Mạch tích hợp</p>
                <p>
                    Mạch tích hợp hay IC bao gồm nhiều linh kiện điện tử cơ bản.
                    Nó không có gì bí ẩn hay huyền diệu.
                </p>
                <a href="#">
                    MẪU IC &nbsp;
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
            </div>
        </div>
        <div class="box-img">
            <a href="#">
                <div class="pic">
                    <img src="~/Content/img/sys/cua-hang-linh-kien-dien-tu-tphcm.jpg"
                         alt="" />
                </div>
            </a>
        </div>
        <div class="box-img">
            <a href="#">
                <div class="pic">
                    <img src="~/Content/img/sys/tu-dien-la-gi-383x400.png"
                         alt="" />
                </div>
            </a>
        </div>
        <div class="box-img">
            <a href="#">
                <div class="pic">
                    <img src="~/Content/img/sys/dien-dan-dung-va-cong-nghiep.png" alt="" />
                </div>
            </a>
        </div>
        <div class="box-img">
            <a href="#">
                <div class="pic">
                    <img src="~/Content/img/sys/cua-hang-linh-kien-dien-tu-tphcm.jpg"
                         alt="" />
                </div>
            </a>
        </div>
    </div>
</section>
